.about-me-card {
  width: 100svw;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  p {
    margin: none;
    color: #CCC9DC;
    font-size: 6svw;
    font-family: 'Markazi Text';
  }
  h4 {
    color: #CCC9DC;
    font-size: 2svw;
    opacity: 0.6;
  }
  b {
    color: #9F60BA;
  }
}
.profile-img img {
  width: 30svw;
}
.profile {
  width: 60svw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.social-links {
  display: flex;
  justify-content: center;
  padding: 20px;
  img {
    padding: 1svw;
    width: 4svw;
  }
}
.websites {
  margin: 10px;
  width: 100%;
  height: 100%;
}
