.App {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  width: 100svw;
  height: 100svh;
  width: 100vw;
  height: 100vh;
  background-color: #0C1821;
}
h1 {
  margin: 0;
  padding: 15px;
}
