.background {
  width: 150svw;
  height: 150svh;
  position: fixed;
  left: -15%;
  top: -45%;
  z-index: -1;

  svg {
    width: inherit;
    height: inherit;
  }
}

#circle_rotate {
  transform: rotate(10);
}
