.background {
  width: 200vw;
  height: 200vw;
  position: fixed;
  left: -15%;
  top: -10%;
  z-index: -1;

  svg {
    width: inherit;
    height: inherit;
  }
}

#circle_rotate {
  transform: rotate(10);
}
