navbar {
  width: 100svw;
  background-color: rgb(203, 201, 219);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgb(152, 151, 160);
  ul{
    display: flex;
    justify-content: flex-end;
  }
  ul:last-child {
    padding-right: 15px;
  }
  li {
    font-size: 20px;
    padding: 0 10px;
    list-style: none;
  }
}
